$primary-color-default: #4880EE;
$background-color-primary: #e4e6eb;
$text-primary-color: #444;
$text-secondary-color: #777;
$text-color-white: #fff;

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}